<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
	<title>Beer Rating Calculator</title>
</head>
<body class="container" style="background-image: url('/static/images/beerback.jpg');">
	<form class="form-group" method=post>
        <h1 style="color:#FFFFFF;">Beer Rating Calculator</h1>
        <a target="_blank" href="http://www.bjcp.org/docs/2015_Guidelines_Beer.pdf">
            <img src="/static/images/Homer-Beer-icon.png" height="65px" width="80px">
        </a>
		<ul>
            <div class="row">
                <div class="col-sm-5" style="background-color:#BFEFFF;">
                <h3>Some items</h3>
                    <dl>
                        <dt>Skill Level:</dt>
                        <dd>- What the what?</dd>
                        {{ form.level_selector }}
                    </dl>
                    <dl>
                        <dt>Discovery:</dt>
                        <dd>- What the what?</dd>
                        {{ form.discovery_selector }}
                    </dl>
                    <dl>
                        <dt>Ease:</dt>
                        <dd>- What the what?</dd>
                        {{ form.ease_selector }}
                    </dl>
                    <dl>
                    <dt>Awareness</dt>
                    <dd>- What the what?</dd>
                    {{ form.awareness_selector }}
                    </dl>
                </div>
                <div class="col-sm-5" style="background-color:#BFEFFF;">
                <h3>Some more items</h3>
                    <dl>
                        <dt><a target="_blank" href="http://www.bjcp.org/docs/2015_Guidelines_Beer.pdf">Info:</a></dt>
                        <dd>- What the what?</dd>
                        {{ form.info_selector }}
                    </dl>
                    <dl>
                        <dt>Availability:</dt>
                        <dd>- What the what?</dd>
                        {{ form.availability_selector }}
                    </dl>
                    <dl>
                        <dt>Brand:</dt>
                        <dd>- What the what?</dd>
                        {{ form.brand_selector }}
                    </dl>
                    <dl>
                        <dt>Privacy:</dt>
                        <dd>- What the what?</dd>
                        {{ form.privacy_selector }}
                    </dl>
                </div>
            </div>
            <br>
            {{ form.submit(class="btn btn-primary") }}
		</ul>
	</form>
<H2 style="PADDING-LEFT: 20px; color:#FFFFFF;">Rating:</H2>
<H3 style="PADDING-LEFT: 20px; color:#FFFFFF;">{{ rating }}</H3>
<p class="small" style="PADDING-LEFT: 20px; color:#FFFFFF;">{{ url }}</p>


</body>
</html>