<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
	<title>Beer Rating Calculator</title>
</head>
<body class="container" style="background-image: url('/static/images/beerback.jpg');">
	<form class="form-group" method=post>
        <h1 style="color:#FFFFFF;">Beer Rating Calculator</h1>
        <a target="_blank" href="http://www.bjcp.org/docs/2015_Guidelines_Beer.pdf">
            <img src="/static/images/Homer-Beer-icon.png" height="65px" width="80px">
        </a>
		<ul>
            <div class="row">
                <div class="col-sm-5" style="background-color:#BFEFFF;">
                <h3>Style Items</h3>
                    <dl>
                        <dt>Appearance:</dt>
                        <dd>- Does the beer match color, clarity, lacing?</dd>
                        {{ form.appearance_selector }}
                    </dl>
                    <dl>
                        <dt>Aroma:</dt>
                        <dd>- Does the beer match the hop/malt aroma?</dd>
                        {{ form.aroma_selector }}
                    </dl>
                    <dl>
                        <dt>Flavor:</dt>
                        <dd>- Does the beer taste like the style?</dd>
                        {{ form.flavor_selector }}
                    </dl>
                    <dl>
                    <dt>Mouthfeel:</dt>
                    <dd>- Does the beer match the mouthfeel of the style?</dd>
                    {{ form.mouthfeel_selector }}
                    </dl>
                </div>
                <div class="col-sm-5" style="background-color:#BFEFFF;">
                <h3>Drinkability Items</h3>
                    <dl>
                        <dt>Appearance:</dt>
                        <dd>- Does I like the appearance?</dd>
                        {{ form.myappearance_selector }}
                    </dl>
                    <dl>
                        <dt>Aroma:</dt>
                        <dd>- Do I like the aroma?</dd>
                        {{ form.myaroma_selector }}
                    </dl>
                    <dl>
                        <dt>Flavor:</dt>
                        <dd>- How much do I like the flavor?</dd>
                        {{ form.myflavor_selector }}
                    </dl>
                    <dl>
                        <dt>Replay value:</dt>
                        <dd>- How likely am I to drink this again?</dd>
                        {{ form.replay_selector }}
                    </dl>
                </div>
            </div>
            <br>
            {{ form.submit(class="btn btn-primary") }}
		</ul>
	</form>
<H2 style="PADDING-LEFT: 20px; color:#FFFFFF;">Rating:</H2>
<H3 style="PADDING-LEFT: 20px; color:#FFFFFF;">{{ rating }}</H3>
<p class="small" style="PADDING-LEFT: 20px; color:#FFFFFF;">{{ url }}</p>


</body>
</html>